<section class="todoapp">
  <header class="header">
    <h1>Todos</h1>
    <label>
      <input class="new-todo" placeholder="What needs to be done?" autofocus="" [(ngModel)]="newTodo.title" (keyup.enter)="addTodo()" *ngIf="todos.length < 10">
    </label>
  </header>
  <section class="main" *ngIf="todos.length > 0">
    <ul class="todo-list">
      <li *ngFor="let todo of todos" [class.completed]="todo.complete">
        <div class="view">
          <label>{{todo.title}}</label>
          <button class="destroy" (click)="removeTodo(todo)">Delete</button>
        </div>
      </li>
    </ul>
  </section>
</section>
